#setoresDiv {
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.25);
    width: 400px;
    margin: 0 auto;
    height: 600px;
    text-align: center;

}

#setoresDiv {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


h2 {
    padding: 20px;
    font-size: 30px;
}

#listaSetoresDiv {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    font-size: 19px;
    text-decoration: underline;
    column-gap: 20px;
}

#listaSetoresDiv::-webkit-scrollbar {
    width: 10px;
    background-color: #f4f4f4f4;
    display: none;

}


#empresasDiv {
    margin-top: 10px;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 5px;

}

#pageContent ul {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

#departamentosDiv {
    margin-top: 10px;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    text-decoration: none;

}

#funcionáriosDiv {
    margin-top: 10px;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    text-decoration: none;
}