.fieldsErrors {
    color: var(--erro);
}

h1 {
    margin-top: 2rem;
}

#pageContent {

    margin-top: 2rem;
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.25);
    width: 400px;
    margin: 0 auto;
    height: 600px;
    text-align: center;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

}

.gerenciarDepartamento {
    row-gap: 13rem;
}

.gerenciarDepartamento ul {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    row-gap: 15px;
    font-weight: 600;
}


.cadastrarDepartamento {
    display: flex;
    flex-direction: column;
}

.cadastrarDepartamento form {
    display: flex;
    flex-direction: column;
    row-gap: 30px;

}

.pesquisarDepartamento {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.pesquisarDepartamento form {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.pesquisarFuncionarios {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.pesquisarFuncionarios form {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}