.fieldsErrors {
    color: var(--erro);
}

#pageContent {

    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.25);
    width: 400px;
    margin: 0 auto;
    height: 600px;
    text-align: center;
    overflow-y: auto;
}

#pageContent::-webkit-scrollbar {
    width: 10px;
}

.listaEmpresa {

    color: var(--gray0);
    font-size: 19px;
    font-weight: 600;

}

.ul--empresa {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    font-size: 19px;
    margin-top: 8rem;

}

#cadastrar--form {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    row-gap: 25px;
}

#cadastrar--form input {
    border: 1px solid;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
}

#cadastrar--form button {
    margin: 0 auto;
    padding: 10px;
    background-color: var(--blue2);
    border-radius: 5px;
    width: 80%;
    color: var(--gray4);
}

.cadastroEmpresa {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    row-gap: 10px;

}

#listaEmpresas {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

}

#listaEmpresas div {
    text-align: center;
    font-size: 20px;
}


.pesquisarEmpresa {

    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.pesquisarEmpresa h1 {
    margin-top: 5rem;
}