.gerenciarFuncionarios {
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.25);
    width: 400px;
    margin: 0 auto;
    height: 600px;
    text-align: center;
    font-size: 20px;
}

.gerenciarFuncionarios ul {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    row-gap: 35px;

}

.gerenciarFuncionarios a {
    text-decoration: none;
    color: black;
}

.gerenciarFuncionarios a:hover {
    text-decoration: underline;

}

.pesquisarFuncionario {

    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.25);
    width: 400px;
    margin: 0 auto;
    height: 600px;
    text-align: center;
    font-size: 20px;


}

.pesquisarFuncionario form {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}

.contratarFuncionario {
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.25);
    width: 400px;
    margin: 0 auto;
    height: 600px;
    text-align: center;
    font-size: 20px;
}

.contratarFuncionario form {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    margin-top: 1rem;
}

.demitirFuncionarios {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.25);
    width: 400px;
    margin: 0 auto;
    height: 600px;
    text-align: center;
    font-size: 20px;
}

.demitirFuncionarios form {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    margin-top: 1rem;

}

.funcionariosSemDepartamento {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.25);
    width: 400px;
    margin: 0 auto;
    height: 600px;
    text-align: center;
    font-size: 20px;
    overflow-y: auto;
}

#listaUsuariosDiv {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 600;
    row-gap: 20px;
}